$margin16: 16px;
$margin24: 24px;

* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

p {
  color: #585476;
}

.head {
  color: #282350;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.375;
  padding-top: 0.5rem;
}
.title {
  color: #585476;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 16px;
}

.container {
  margin-bottom: $margin24;
}
